
#app {
  margin-top: 16px;
  margin-left: 24px;
  font-family: 'Hiragino Kaku Gothic ProN’, 'ヒラギノ角ゴ ProN W3’, 'Meiryo UI’, Meiryo, メイリオ, Osaka, 'MS PGothic’, arial, helvetica, sans-serif;
  font-size: 18px;
}

.button {
  display: inline-block;
  margin-top: 8px;
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #d6eaff;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  opacity: 0.8;
}

#directive-options {
  margin-top: 16px;
}

#result {
  margin-top: 16px;
}

.label-small {
  display: inline-block;
  width: 30px;
}

.label {
  display: inline-block;
  width: 120px;
}

.label-large {
  display: inline-block;
  width: 140px;
}

input[type="number"], input[type="text"] {
  width: 50px;
  margin-left: 8px;
  margin-right: 10px;
  font-size: 18px;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.radio-container {
  display: flex;
  margin-top: 16px;
}

.radio {
  margin-left: 8px;
}

.prefix {
  display: inline-block;
  width: 34px;
}

.link {
  margin-top: 16px;
}
